.staff-avatar {
	display: inline-block;
	background-color: #1ab394;
	color: #fff;
	width: 80px;
	height: 80px;
	line-height: 80px;
	font-weight: 700;
	text-align: center;
	border-radius: 50%;
}
.staff-avatar label {
	font-size: 2em;
	display: inline-block;
	vertical-align: middle;
}
a .staff-avatar label {
	cursor: pointer;
}
.staff-avatar.small {
	width: 50px;
	height: 50px;
	line-height: 50px;
	background-color: #fff;
	border: 1px solid #1bb394;
}
.staff-avatar.xs {
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 80%;
}
.staff-avatar.small label {
	font-size: 1.4em;
	color: #1bb394;
}
.staff-short-name {
	color: #1bb394;
	border: 1px solid #1bb394;
	border-radius: 10px;
	padding: 5px 15px;
	margin-right: 5px;
}
.contact-box.center-version > .profile-box {
	position: relative;
	display: block;
	background-color: #ffffff;
	padding: 20px;
	text-align: center;
}
.contact-box.center-version > .profile-box address {
	min-height: 110px;
}
.contact-box.center-version > .profile-box .status {
    position: absolute;
    right: -1px;
    top: 15px;
    font-weight: 700;
    color: #fff;
    padding: 5px 12px;
    font-size: 12px;
    background-color: #1ab394;
}
.contact-box.center-version > .profile-box .status.idle {
	background-color: #676a6c;
}
.contact-box.center-version > .profile-box .status.on-way {
	background-color: #f8ac59;
}
.navbar {
	background-color: #ffffff;
}
.navbar a {
	border: none !important;
}
.loginscreen {
	margin-top: 80px;
}
.loginscreen h3 {
	margin-top: 20px;
}
.loginscreen.register {
	margin-top: 0px;
}
.loginscreen.register h2 {
	color: #000000;
	font-size: 30px;
	padding-bottom: 8px;
	text-align: left;
}
.loginscreen.register.middle-box {
	width: 600px;
	max-width: 600px;
	padding-top: 20px;
}
.loginscreen.register input::-webkit-input-placeholder {
  color: #ccc !important;
}
.loginscreen.register input::-moz-placeholder {
  color: #ccc !important;
}
.loginscreen.register input:-ms-input-placeholder {
  color: #ccc !important;
}
.loginscreen.register input:-moz-placeholder {
  color: #ccc !important;
}
.errorMessage {
	text-align: left;
}
.loginscreen.register .errorSummary {
	text-align: left;
}
.loginscreen.register .legal {
	text-align: left;
	position: relative;
	top: 7px;
	padding-left: 25px;
}
.loginscreen.register .legal a,
.loginscreen.register .have-account a {
	color: #3d3f40;
	text-decoration: underline;
}
.loginscreen.register .have-account {
	text-align: left;
}
.main-search {
	font-size: 18px !important;
}
.main-search .input-group .form-control {
	width: 360px;
	height: 40px;
	padding-right: 70px;
	padding-left: 40px;
}
.main-search .btn {
	position: absolute;
	right: 6px;
	z-index: 999999;
	min-height: 7px;
	padding: 2px 7px;
	top: 6px;
	display: none;
}
.main-search .icon {
	z-index: 999999;
	position: absolute;
	top: 12px;
	left: 12px;
}
.main-search .popover {
	display: none;
	right: 0px;
	top: 40px;
	left: auto;
}
.main-search .popover .arrow {
	left: 88%;
}
.main-search .popover a {
	color: #676a6c;
}
.nav.navbar-top-links a.global-add-btn {
	margin-top: 18px;
	margin-left: 15px;
	color: #999c9f;
	font-size: 16px;
	font-weight: 600;
	padding-top: 5px;
	padding-right: 25px;
	background-color: transparent;
	border: none;
	box-shadow: none;
}
.global-add-menu {
	margin-top: -8px !important;
	margin-left: 15px !important;
}
.navbar-top-links .dropdown-menu.global-add-menu li a {
	padding: 5px 20px;
}
.global-tabs .tab:first-child {
	margin-left: 0px;
}
.global-tabs .tab {
	display: inline-block;
	padding: 15px 25px 15px 15px;
	color: #676a6c;
	border-right: 1px solid #e7eaec;
	cursor: pointer;
	margin-left: -4px;
}
.global-tabs .more-btn-elem .tab {
	margin-left: 0px;
}
.global-tabs .tab:hover {
	background-color: #f3f3f4;
}
.global-tabs .tab .icon,
.global-tabs .tab .content,
.global-tabs .close-container {
	display: inline-block;
	vertical-align: middle;
}
.global-tabs .tab .icon {
	margin-right: 12px;
}
.global-tabs .tab .content {
	width: 120px;
}
.global-tabs .tab .content p {
	margin: 0px;
}
.global-tabs .close-container a {
	color: #676a6c;
	z-index: 99999;
	display: inline;
}
.global-tabs .tabs {
	display: inline-block;
}
.global-tabs .more-btn-elem {
	display: none;
}
.global-tabs .more-btn-elem.visible {
	display: inline-block;
}
.global-tabs .more-btn-elem .more-btn {
	margin-left: 20px;
	font-weight: 600;
	color: #676a6c;
}
.global-tabs .more-btn-elem .more-btn:hover,
.global-tabs .more-btn-elem .more-btn:focus {
	background-color: transparent;
}
.global-tabs .more-btn-elem .more-btn i {
	position: relative;
	top: 2px;
	font-weight: 700;
	font-size: 18px;
}
.global-tabs .more-btn-elem .dropdown-menu {
	margin-top: -2px !important;
	min-width: 202px;
}
.global-tabs .more-btn-elem .dropdown-menu div.tab {
	border-bottom: 1px solid #e7eaec;
}
.global-tabs .more-btn-elem .dropdown-menu li:last-child {
	border-bottom: none;
}
.global-tabs .more-btn-elem .dropdown-menu .tab.main {
	border-right: none;
}
.project-title .title {
	font-size: 16px;
	color: #676a6c;
	font-weight: 600;
}
.project-list table {
	margin-bottom: 0px;
}
.project-list table tr {
	cursor: pointer;
	border-bottom: 1px solid #e7eaec;
}
.project-list table tr td {
	border-bottom: none;
}
.feed-element .well {
	font-size: 14px;
	margin-top: 0px;
	margin-bottom: 10px;
}
.notes-field {
	width: 600px;
}
.notes-field textarea {
	width: 600px;
	height: 100px;
	display: block;
	margin-bottom: 10px;
}
.notes-field button {
	display: inline-block;
	text-align: right;
}
.contacts .media-body h3 {
	font-weight: 500;
	margin-top: 15px;
}
.contacts .media-body .dl-horizontal {
	margin-left: -85px;
}
.feed-element.job .icon.left {
	display: inline-block;
	vertical-align: top;
	padding-right: 10px;
	margin-bottom: 10px;
	position: relative;
}
.feed-element.job .icon.left.cancelled {
	color: #ccc;
}
.feed-element.job .icon.left .fa {
	font-size: 3.8em;
}

.feed-element.job .content {
	display: inline-block;
	vertical-align: top;
}
.feed-element.job .icon.left .date {
	width: 49.41px;
	position:absolute;
	top:18px;
	text-align:center;
}
.feed-element.job .icon.left .date .month {
	display:block;
	font-size: 11px;
	margin:0px;
	padding:0px;
}
.feed-element.job .icon.left .date .day {
	display:block;
	font-size: 15px;
	margin:0px;
	padding:0px;
	margin-top:-3px;
}
.feed-element.job .icon.right {
	position:absolute;
	top:0px;
	right:0px;
}
.feed-element.job .icon.right .fa {
	font-size: 2em !important;
	position:relative;
	z-index:3;
}
.feed-element.job .icon.right .plain-bg {
	position:absolute;
	background-color: #fff;
	top:0px;
	right:0px;
	width:20px;
	height:20px;
	border-radius:20px;
	z-index:2;
}
.feed-element.job h3 {
	margin-top: 0px;
}
.feed-element.job .employees {
	margin-top: 5px;
}
@media only screen and (max-width: 500px) {
	.add.btn {
		float: none !important;
		margin-bottom: 10px;
	}
}
@media only screen and (max-width: 770px) {
	.contacts .media-body .dl-horizontal {
		margin-left: 0px;
	}
}
@media only screen and (max-width: 1000px) {
	.notes-field {
		width: 75%;
	}
	.notes-field textarea {
		width: 100%;
	}
}
/** Search result layout for smaller devices **/
@media only screen and (max-width: 900px) {
	.project-list table tr {
		display: block;
		padding: 5px 0;
	}
	.project-list table tr td {
		display: block;
		width: 100%;
		padding: 5px 5px;
	}
}
@media only screen and (max-width: 1000px) {
	.global-tabs .tab .content {
		width: 100px;
	}
	.global-tabs .more-btn-elem .dropdown-menu {
		min-width: 182px;
	}
}